[Unit]
Description=piserver
After=multi-user.target

[Service]
Type=idle
Restart=always
RestartSec=1
User=root
ExecStart=/home/pi/PiServer
WorkingDirectory=/home/pi


[Install]
WantedBy=multi-user.target
